{% extends "base_generic.html" %}
{% block content %}
    <p>Add a break to specify when you do not want to take classes.</p>
    <head>
    <script>
        {% if messages %}
            {% for message in messages %}
                alert('{{ message }}')
            {% endfor %}
        {% endif %}
    </script>
    </head>
    <form method = "post">
        {% csrf_token %}
            {{ add_time_form }}
        <div></div>
        {{ weekday_form }}
        <div></div>
        <input type = "submit" value = "Submit">
    </form>
{% endblock %}

