{% extends "base_generic.html" %}
{% load custom_tags %}
{% total_courses %} courses<br> 

{% block content %}
{% load url_extra %}
<form method="get">
  {{filtered_courses.form.as_p}}
  <input type="submit" value="Press">
</form>

<table id="course-list" class="table table-boarded" style="width:100%">
  <thead>
    <tr>
      <th>Subject</th>
      <th>Catalog Number</th>
      <th>Title</th>
      <th>Type</th>
      <th>Date</th>
      <th>Credit</th>
      <th>Meeting Time</th>
      <th>Room</th>
      <th>Instructor</th>
      <th>Total seats</th>
      <th>Seats taken</th>
      <th>Seats available</th>
    </tr>
  </thead>
  <tbody>
    {% for course in course_page_obj %}
      <tr>
        <td>{{course.subject}}</td>
        <td>{{course.catalog_number}}</td>
        <td>{{course.course_title}}</td>
        <td>{{course.course_type}}</td>
        <td>{{course.dates}}</td>
        <td>{{course.credit}}</td>
        <td>{{course.meeting_time}}</td>
        <td>{{course.room}}</td>
        <td>{{course.instructor}}</td>
        <td>{{course.total_seats}}</td>
        <td>{{course.seats_taken}}</td>
        <td>{{course.seats_available}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% if course_page_obj.has_other_pages %}
  {% load proper_paginate %}
  <ul class="pagination">
    {% if course_page_obj.number == 1 %}
      <li class="page-item disabled"><a class="page-link" href="{% my_url 1 'page' request.GET.urlencode %}">⇤</a></li>
    {% else %}
      <li class="page-item" ><a class="page-link" href="?page=1">⇤</a></li>
    {% endif %}

    {% if course_page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="{% my_url course_page_obj.previous_page_number 'page' request.GET.urlencode %}">&laquo;</a></li>
    {% else %}
      <li class="page-item disabled"><a class="page-link">&laquo;</a></li>
    {% endif %}

    {% for i in course_page_obj.paginator|proper_paginate:course_page_obj.number %}

      {% if course_page_obj.number == i %}
        
        <li class="page-item active"><a href="% my_url i 'page' request.GET.urlencode %}" class="page-link">{{i}}</a></li>
      {% else %}
        <li li class="page-item"><a class="page-link" href="{% my_url i 'page' request.GET.urlencode %}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}

    {% if course_page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="{% my_url course_page_obj.next_page_number 'page' request.GET.urlencode %}">&raquo;</a></li>
    {% else %}
      <li class="page-item disabled"><a class="page-link">&raquo;</a></li>
    {% endif %}

    {% if course_page_obj.number == course_page_obj.paginator.num_pages %}
      <li class="page-item disabled"> <a class="page-link">⇥</a></li>
    {% else %}
      <li class="page-item"><a class="page-link" href="{% my_url course_page_obj.paginator.num_pages 'page' request.GET.urlencode %}">⇥</a></li>
    {% endif %}
  </ul>
{% endif %}
{% endblock content %}