{% extends "base_generic.html" %}
{% block content %}
  Monday: <br />
  {% for s in M %}
    <a>{{s}}</a>
    <br />
  {% endfor %}
  -------------------------------------- <br />
  Tuesday: <br />
  {% for s in Tu %}
    <a>{{s}}</a>
    <br />
  {% endfor %}
  -------------------------------------- <br />
  Wednesday: <br />
  {% for s in W %}
    <a>{{s}}</a>
    <br />
  {% endfor %}
  -------------------------------------- <br />
  Thursday: <br />
  {% for s in Th %}
    <a>{{s}}</a>
    <br />
  {% endfor %}
  -------------------------------------- <br />
  Friday: <br />
  {% for s in F %}
    <a>{{s}}</a>
    <br />
  {% endfor %}

{% endblock %}