{% extends "base_generic.html" %}
{% block content %}
  <p>This is the shopping cart page.</p>

  <form method="POST">
  {% csrf_token %}
  <table id="course-list" class="table table-boarded" style="width:100%">
  <thead>
    <tr>
      <th></th>
      <th>Subject</th>
      <th>Catalog Number</th>
      <th>Title</th>
      <th>Type</th>
      <th>Date</th>
      <th>Credit</th>
      <th>Meeting Time</th>
      <th>Room</th>
      <th>Instructor</th>
      <th>Total seats</th>
      <th>Seats taken</th>
      <th>Seats available</th>
    </tr>
  </thead>
  <tbody>
    {% for course in cart_courses %}
      <tr>
        <td><input class="uk-checkbox " type="checkbox" name="checked_selection" value={{course.course_id}}></td> 
        <td>{{course.subject}}</td>
        <td>{{course.catalog_number}}</td>
        <td>{{course.course_title}}</td>
        <td>{{course.course_type}}</td>
        <td>{{course.dates}}</td>
        <td>{{course.credit}}</td>
        <td>{{course.meeting_time}}</td>
        <td>{{course.room}}</td>
        <td>{{course.instructor}}</td>
        <td>{{course.total_seats}}</td>
        <td>{{course.seats_taken}}</td>
        <td>{{course.seats_available}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<button class="btn btn-outline-primary" type="submit" name='create_schedule'><i class="bi bi-bag-check-fill"></i> Create schedule</Button>
<button class="btn btn-outline-danger" type="submit" name='delete_course'><i class="bi bi-trash-fill"></i> Delete course</Button>
</form>

{% endblock %}